Package: com.n00neimp0rtant.controlfreak
Name: ControlFreak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: n00neimp0rtant
Author: n00neimp0rtant
Section: Tweaks
